@font-face {
	font-family: 'Nats';
	src: local('Nats'), url('/assets/font/nats.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

p,
h1,
h2,
h3 {
	cursor: default;
}

h1 {
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
}

a {
	color: #fff;
}

h2 {
	font-size: 30px;
	font-weight: 500;
	line-height: 30px;
}

body {
	background: #235b4e;
	color: #fff;
	font-family: Nats;
	font-weight: 400;
}

button {
	border: 3px solid white;
	font-size: 22px;
	width: 200px;
	height: 60px;
	color: #fff;
	background: none;
	cursor: pointer;
	outline: none;
}

button:hover {
	border-color: #ECC3B2;
	color: #ECC3B2;
}

.content-container {
	width: 100%;
	max-width: 1140px;
}

.sosmed {
	display: flex;
	align-items: center;
	z-index: 1;
}

.sosmed img {
	cursor: pointer;
}

.sosmed img:nth-child(1) {
	margin-right: 30px;
	cursor: pointer;
}

@media only screen and (max-width: 768px) {
  button {
    font-size: 16px;
    width: 150px;
    height: 40px;
  }
}

#loader {
  position: fixed;
  background: #ECC3B2;
  z-index: 999;
	flex-direction: column;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.flex-center {
	display: flex;
	align-items: center;
  justify-content: center;
}

#loader h2 {
	color: #235b4e;
	margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  #loader img {
		width: 90%;
	}
}

