.parallax-bakery {
  height: 100vh;
	max-height: 900px;
	width: 100%;
}

.shadow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 100px 150px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.1));
}

.bakery {
	align-items: flex-start;
}

.bakery h1 {
	margin-bottom: 50px;
}

.bakery p {
	font-size: 22px;
	line-height: 28px;
	width: 515px;
	margin-bottom: 50px;
}

.bakery-title {
  transform: translateY(200px);
  opacity: 0;
  transition: all 1000ms ease;
}

.bakery-desc {
  transform: translateY(200px);
  opacity: 0;
  transition: all 1000ms ease;
  transition-delay: 1000ms;
}

.bakery-btn {
  transform: translateY(200px);
  opacity: 0;
  transition: all 1000ms ease;
  transition-property: transform, opacity;
  transition-delay: 1500ms;
}

.slide-up-bakery {
	transform: translateY(0px);
  opacity: 1;
}

@media only screen and (max-width: 1300px) {
  .shadow {
    padding: 100px 100px;
  }
}

@media only screen and (max-width: 1054px) {
  .shadow {
    padding: 100px 50px;
  }
}

@media only screen and (max-width: 768px) {
  .shadow {
    padding: 50px 30px;
  }

  .bakery h1 {
    font-size: 26px;
    line-height: 26px;
  }
  
  .bakery p {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }
}