section#contact {
  height: 100vh;
  min-height: 720px;
  max-height: 1080px;
}

.contact-section {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 180px 150px;
  background: transparent;
  z-index: 1;
}

.contact-section .form {
  background: rgba(236, 195, 178, 0.8);
  padding: 30px 45px;
  width: 570px;
}

.contact-section .form h1 {
  margin-bottom: 35px;
  font-size: 40px;
  line-height: 35px;
  color: #fff;
}

.contact-section .form form#contact .email-phone {
  display: flex;
}

input {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 15px;
	font-size: 20px;
	font-family: Nats;
	border: none;
	outline: none;
}

textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: Nats;
  resize: none;
  border: none;
  outline: none;
}

#email {
  margin-right: 10px;
}

.iframe {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

.contact-btn:hover {
  background: #fff;
  color: #ECC3B2;
  border: none;
}

@media only screen and (max-width: 1650px) {
  .contact-section {
    padding: 180px 50px;
  }
}

@media only screen and (max-width: 768px) {
  .contact-section {
    padding: 150px 30px;
  }

  .contact-section .form {
    padding: 15px;
    width: 100%;
    background: rgba(236, 195, 178, 0.8);
  }

  .contact-section .form h1 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .contact-section .form form#contact .email-phone {
    display: block;
  }
  
  input, textarea {
    font-size: 14px;
    padding: 5px 10px;
    margin-bottom: 10px;
  }

  input#email {
    margin-right: 0px;
  }
}