.parallax {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-height: 900px;
	min-height: 800px;
	width: 100%;
	padding: 100px 150px;
}

.hero-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 0px;
	background: rgba(35, 91, 78, 0.8);
}

.hero-content img {
	width: 500px;
	margin-bottom: 65px;
}

.hero-content h2 {
	width: 500px;
	line-height: 50px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 65px;
}

@media only screen and (max-width: 1300px) {
	.parallax {
		padding: 100px;
	}
}

@media only screen and (max-width: 900px) {
	.parallax {
		padding: 100px 50px;
	}
}

@media only screen and (max-width: 768px) {
  .hero-content {
    padding: 50px 30px;
		text-align: center;
  }

	.hero-content img {
		width: 100%;
		margin-bottom: 35px;
	}

	.hero-content h2 {
		width: 80%;
    font-size: 22px;
		line-height: 28px;
		margin-bottom: 45px;
  }
}

@media only screen and (max-width: 500px) {
	.hero-content {
    padding: 60px 40px;
		text-align: center;
  }

	.hero-content img {
		width: 100%;
		margin-bottom: 25px;
	}

  .hero-content h2 {
		width: 100%;
    font-size: 20px;
		line-height: 28px;
  }
}