*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  position: fixed;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
}


.home {
  background-image: radial-gradient(#414141, #212121);
}

.home-bg {
  opacity: 0.01;
  width: 100%;
  position: absolute;
}

.projects {
  transform: translateX(100vw);
  transition: all 500ms ease;
  background: #323232;
}

.slide-left {
  transform: translateX(80px);
}

.contact {
  transform: translateY(100vh);
  transition: all 500ms ease;
  background: #323232;
  z-index: 0;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  width: 500px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  outline: none;
}

textarea {
  width: 500px;
  height: 300px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  resize: none;
}

.contact-btn  {
  border: none;
  padding: 10px 20px;
  font-family: Montserrat;
  font-weight: bolder;
}

.about {
  background: #323232;
  transform: translateX(-100vw);
  transition: all 500ms ease;
}

.slide-up {
  transform: translateY(80px);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.1);
}

.slide-right {
  transform: translateX(-90px);
}

h1 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.5);
  cursor: default;
}

h1:hover {
}

.highlight {
  color: #ffa62b;
}

.flex {
  display: flex;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.03;
}